html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #edf6f9;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cdb4db;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#reset, #newGrid {
	background-color:#cdb4db;
	border-radius:15px;
	border:3px solid #ad99b9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:11px 23px;
	text-shadow:0px 0px 0px #2f6627;
}

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 650px;
    height: 650px;
    border: black solid 8px;
}

.cell {
    display:flex;
    padding: 3px;
    border: 1px solid black;
    background-color: rgb(212, 211, 211);
}

.footer {
    padding: 15px;
    text-align: center;
    flex-shrink: 0;
    color: #cdb4db;
}