@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #edf6f9;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cdb4db;
    margin-bottom: 30px;
    font-family: 'Fredoka One', cursive;;
}

.header h1 {
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: -250px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}

button {
	background-color:#cdb4db;
	border-radius:15px;
	border:3px solid #ad99b9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:11px 23px;
	text-shadow:0px 0px 0px #2f6627;
}

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 650px;
    height: 650px;
    border: black solid 8px;
}

.cell {
    display:flex;
    padding: 3px;
    border: 1px solid black;
    background-color: #dee2e6;
}

.footer {
    padding: 15px;
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
    color: #cdb4db;
}